ROOMFORGE_FIREBASE_API_KEY=
ROOMFORGE_FIREBASE_APP_ID=
ROOMFORGE_FIREBASE_MESSAGING_SENDER_ID=
ROOMFORGE_FIREBASE_PROJECT_ID=
ROOMFORGE_FIREBASE_AUTH_DOMAIN=
ROOMFORGE_FIREBASE_STORAGE_BUCKET=
ROOMFORGE_API_BASE_URL=http://127.0.0.1:8000
