ROOMFORGE_BACKEND_MODE=firebase
ROOMFORGE_FIREBASE_API_KEY=
ROOMFORGE_FIREBASE_APP_ID=
ROOMFORGE_FIREBASE_MESSAGING_SENDER_ID=
ROOMFORGE_FIREBASE_PROJECT_ID=
ROOMFORGE_FIREBASE_AUTH_DOMAIN=
ROOMFORGE_FIREBASE_STORAGE_BUCKET=
ROOMFORGE_GOOGLE_CLIENT_ID=
ROOMFORGE_GOOGLE_SERVER_CLIENT_ID=
ROOMFORGE_USE_FIREBASE_EMULATOR=false
ROOMFORGE_FIREBASE_EMULATOR_HOST=
ROOMFORGE_API_BASE_URL=http://127.0.0.1:8010
ROOMFORGE_EDITOR_URL=http://127.0.0.1:9239
